body{
  background-color: black;
  color: white;
}

.container{
  text-align: center;
  align-content: center;
}

.button{
  height: 100px;
  width: 150px;
  border: solid black 2px;
  border-radius: 20px;
  display: inline-flex;
  margin: 20px 5px;
  background-color: white;
  cursor: pointer;
}

#orange{
  background-color: orange;
}

#white{
  background-color: white;
}
#purple{
  background-color: purple;
}
#green{
  background-color: green;
}